  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>検索結果（<%= @beers.count %>件）
                </h2>
              </header>
              <ul class="thumbnails thumbnail--movies row grid4 js-lazy-load-images js-my-check-stats" id="list-module">
								<% @beers.each do |beer| %>
		                <li class="col">
		                  <a href="/beeeer/<%= beer.id %>"><div class="thumbnail__figure" style="background-image:url('<%= beer.image_url %>')"></div></a>
		                  <div class="thumbnail__caption">
		                    <h3 class="text-xsmall text-overflow" title="タイトル">
												<% if beer.present? %>
		                      <span><i class="icon-rate-00 text-xxsmall opacity-60" title=""></i></span><%= beer.item_name %></h3>
												<% else %>
		                      <span><i class="icon-rate-00 text-xxsmall opacity-60" title=""></i></span><%= beer.item_name %></h3>
												<% end %>
												￥ <%= beer.price %> 
												<% if beer.price_per_can.present? %>
													(￥ <%= beer.price_per_can %> / 本)
												<% end %>
		                    <p class="text-small">
		                      <span class="rating-star">
														<% if beer.present? %>
			                        <i class="star-actived rate-00"></i>
														<% else %>
			                        <i class="star-actived rate-00"></i>
														<% end %>
		                      </span>
		                    </p>
												<a href="<%= beer.product_url %>">Amazon.co.jp</a>
		                  </div>
		                </li>
							<% end %>
              </ul>
            </div>
          </article>
					<%= paginate(@beers) %>
        </div>
        <div id="yjSub">
