  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <%= @tag_name %>のビール
                </h2>
              </header>
              <ul class="thumbnails thumbnail--movies row grid4 js-lazy-load-images js-my-check-stats" id="list-module">
								<% @beers.each do |beer| %>
		                <li class="col">
		                  <a href="/beeeer/<%= beer.id %>"><div class="thumbnail__figure" style="background-image:url('<%= beer.image_url %>')"></div></a>
		                  <div class="thumbnail__caption">
		                    <h3 class="text-xsmall text-overflow" title="タイトル">
												<% if beer.present? %>
		                      <span><i class="icon-rate-00 text-xxsmall opacity-60" title=""></i></span><%= beer.item_name %></h3>
												<% else %>
		                      <span><i class="icon-rate-00 text-xxsmall opacity-60" title=""></i></span><%= beer.item_name %></h3>
												<% end %>
												￥ <%= beer.price %>
                        <% if current_user.already_liked?(beer) %>
													<div class="like-button">
															<%=  image_tag "liked.png", size: "15x15" %>
															<div class="like-sum"><%= likes_count(beer.id)  %></div>
													</div>
                        <% else %>
													<div class="like-button">
															<%=  image_tag "unliked.png", size: "15x15" %>
															<div class="like-sum"><%= likes_count(beer.id)  %></div>
													</div>
                          <%= form_for [beer, @like], remote: true do |f| %>
                            <%= f.submit 'いいね' %>
                          <% end %>
                        <% end %>
												<% if beer.price_per_can.present? %>
													(￥ <%= beer.price_per_can %> / 本)
												<% end %>
												<a href="<%= beer.product_url %>">Amazon.co.jp</a>
		                  </div>
		                </li>
							<% end %>
              </ul>
            </div>
          </article>
					<%= paginate(@beers) %>
        </div>
        <div id="yjSub">
